.global {
  /* Global styling for the entire application */
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
